.about{
    padding:30px;
    background-image:linear-gradient(to top, rgb(126, 75, 16), tan);
}
.about .box{
    width:600px;
    padding:40px;
    background-color: rgb(252, 219, 179);
    border:2px solid rgb(216, 160, 87);
    border-radius:5px;
    margin-left:auto;
    margin-right:auto;
}
.about h1{
    color:darkcyan;
}