.catalog{
    min-height: 600px;
    background-image:linear-gradient(to top, rgb(126, 75, 16), tan) 
}

.catalog h1{
    color:darkcyan;
    font-size:24px;
    font-weight: 300;
}

.catalog .filters button{
    margin: 6px 4px;
}