.product{
    border:1px solid #333;
    border-radius: 4px;
    padding:10px;
    height:350px;
    width:300px;
    display:inline-block;
    margin:12px;
    background-color: white;
}
.product:hover{
    border-color:rgb(5, 163, 5);
    transform: scale(1.03);
}

.product img{
    width: 280px;
    height:210px;
}
.product .controls{
    display:flex;
    justify-content: space-around;
    margin-top:4px
}